.wrapper {
  background-color: rgb(238, 208, 144);
  height: 500px;
  width: 100%;
}
.conteiner {
  background-color: white;
  height: 400px;
  width: 300px;
  margin: 40px 60px;
  display: inline-block;
  padding: 10px;
}
.conteiner:hover {
  transform: scale(1.1);
}
h1 {
  color: green;
  text-align: center;
}
svg {
  height: 150px;
  width: 150px;
  margin-left: 80px;
}
.text {
  color: black;
}
h3 {
  text-align: center;
}
